<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registrazione
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Es. Giovanni"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Cognome" placeholder=""></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-range labelPlacement="start" label="Età">
        <div slot="end"> 10 </div>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-range labelPlacement="start" label="Anno di Nascita"></ion-range>
    </ion-item>

  </ion-list>

  <ion-button expand="full">Conferma</ion-button>
</ion-content>
